<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projkotlin">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:supportsRtl="true">
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="com.example.projkotlin.action.bencher"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>